:root {
    --background-color: #CBE9BF;
    --secondary-background-color: #FFF;
    --text-color: #000000;

    --dark-background-color: #333;
    --dark-secondary-background-color: #444;
    --dark-text-color: #FFF;
}

html {
    background-color: var(--secondary-background-color);
}

html::-webkit-scrollbar {
    display: none;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-left: 20px;
}

nav#main-nav a {
    /* color: white; Text color */
    text-decoration: none; /* Removes the default underline */
    font-size: 1.2em;
    position: relative;
    transition: color 0.3s; /* Smooth transition for text color */
}

nav#main-nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #FFF; /* Underline color */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

nav#main-nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* Targeting links within the header specifically */
header nav#main-nav a:link, /* unvisited links */
header nav#main-nav a:visited { /* visited links */
    color: var(--text-color);
}

#theme-toggle {
    cursor: pointer;
    user-select: none;
}

#intro {
    display: flex;
    align-items: center;
    padding: 20px;
}

#intro img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.project {
    width: 200px; /* Adjust based on your preference for square size */
    height: 200px;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Ensures that nothing spills out of the box */
}

.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(128, 128, 128, 0.5); /* Grey transparent background */
    color: white;
    text-align: center; /* Center the text horizontally */
    padding: 5px 0; /* Adjust padding to your liking for optimal text placement */
}

.project-info a {
    color: white;
    text-decoration: none;
    font-size: 16px; /* Adjust font size to your liking */
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

body.dark-mode {
    background-color: #333;
    color: #FFF;
}

.dark-mode .project a {
    background: rgba(255,255,255,0.2);
    color: #FFF;
}

/* head links */
.dark-mode header nav#main-nav a:link, /* unvisited links */
.dark-mode header nav#main-nav a:visited { /* visited links */
    color: var(--dark-text-color);
}

/* html background */
.dark-mode html {
    background-color: var(--dark-secondary-background-color);
}