canvas#processing-canvas {
    width: 290px;
    height: 290px;
    display: block;
    margin: 0 auto;
}

a:focus,
canvas:focus {
    outline: none;
    box-shadow: none;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.my-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.alumni-logos img {
    height: 36px;
    max-width: 60px;
    padding: 0px;
    /* vertical-align: middle; */
}

.my-centered {
    margin-left: auto;
    margin-right: auto;
}

.my-container {
    width: 280px;
    margin: 20px auto;
}


.my-tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 20px auto;
    padding: 10px;
    max-width: 1200px;
}

.my-tile {
    width: 350px;
    box-sizing: border-box;
    margin: 0;
}

.my-tile img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 16px;
    border-radius: 5px;
}


.my-card {
    background-color: #9eada1;
    padding: 30px;
    font-family: 'Gabarito', sans-serif;
    border-radius: 5px;
}

.my-name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-blurb {
    margin-top: 5px;
    margin-bottom: 10px;
}



/* Custom class for styled links (not buttons) */
.my-link,
.my-link:visited,
.my-link:active {
    color: #000 !important;
    text-decoration: underline !important;
    font-weight: bold !important;
}

.my-link:hover,
.my-link:focus {
    color: #000 !important;
    text-decoration: underline !important;
    font-weight: bold !important;
}

.portal {
    font-size: 32px;
}

